<div class="demo-box">
  <div class="demo-title">Treatment Costs by Departments</div>
  <fm-pivot
    #pivot1
    [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
    [componentFolder]="'https://cdn.flexmonster.com/'"
    [height]="378"
    [report]="reportPivot1">
  </fm-pivot>
</div>
<div class="demo-box">
  <div class="row">
    <div class="col-6">
      <div class="demo-title">Overall Customer Satisfaction</div>
      <fm-pivot
        #pieChart
        [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
        [componentFolder]="'https://cdn.flexmonster.com/'"
        [height]="392"
        [report]="reportPieChart">
      </fm-pivot>
    </div>
    <div class="col-6">
      <div class="demo-title right-text">
        Customer Satisfaction by Patient Status
      </div>
      <fm-pivot
        #columnChart
        [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
        [componentFolder]="'https://cdn.flexmonster.com/'"
        [height]="392"
        [report]="reportColumnChart">
      </fm-pivot>
    </div>
  </div>
</div>
<div class="demo-box">
  <div class="demo-title">Overall Customer Satisfaction</div>
  <div class="row">
    <div class="col-6">
      <fm-pivot
        #pivot2
        [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
        [componentFolder]="'https://cdn.flexmonster.com/'"
        [toolbar]="true"
        [height]="300"
        [report]="reportPivot2"
        [customizeCell]="customizeCellFunction">
      </fm-pivot>
    </div>
    <div class="col-6">
      <fm-pivot
        #barChart
        [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
        [componentFolder]="'https://cdn.flexmonster.com/'"
        [height]="300"
        [report]="reportBarChart">
      </fm-pivot>
    </div>
  </div>
</div>